* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    padding: 2vh 10vh 0 10vh;
    width: 100%;
    height: 13vh;
    transition: all 0.5s;
    z-index: 997;
    background: #fff;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
    font-size: 42px;
    margin: 0;
    padding: 0.4vh 0 0 2.2vh;
    font-family: 'Poppins';
    font-weight: 700;
    width: 50vh;
}

#header #logo h1 a {
    color: #0c2e8a;
}

#header #logo h1 a span {
    color: #50d8af;
}

@media (max-width: 768px) {
    #header {
        height: 60px;
    }

    #header #logo h1 {
        font-size: 5vw;
    }

    #header #logo img {
        max-height: 40px;
    }
}

a {
    color: #50d8af;
    text-decoration: none;
    transition: 0.5s;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
.navbar {
    padding: 1.8vh 2vh 0 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}


.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 600;
    color: #444;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus {
    color: #50d8af;
    text-decoration: none;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    margin: auto;
}

tr:nth-child(even) {
    background-color: #dfe6ea;
}

table {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(53, 51, 51, 0.6);
    overflow: hidden;
    width: 60vh;

}

.full_display {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    padding-bottom: 3vh;
}

.full_display h3 {
    text-align: center;
    margin-bottom: 15px;
}


.add_book {
    padding-bottom: 2%;
}

.add_book h2 {
    text-align: center;
    margin-bottom: 2%;
    color: #0c2e8a;
}

.full_form {
    width: 30%;
    margin: auto;
}

#form_add_book {
    width: 35%;
    margin: auto;
}

#input {
    width: 120%;
}

#btn {
    margin-left: 38%;

}

#btn button {
    background-color: #68f1c8;
}