.header {
    display: flex;
    border: 1px solid black;
    padding-left: 10%;
    background-color: rgb(104, 153, 169);

}

.header img {
    width: 100px;
}

.header div {
    margin: 20px;
}

.header div h3 {
    text-align: center;
    margin-top: 5px;
}