* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.title h2 {
    text-align: center;
    margin-top: 2%;
}

.home {
    display: flex;
    margin-top: 5%;
}

.home_background img {
    width: 60%;
    height: auto;
    margin-left: 10%;
}

.home_book {
    width: 60%;
    height: auto;
    margin-right: 5%;
}

.home_book div img {
    width: 30%;
    padding: 2%;
    box-shadow: 3px 3px 3px 3px rgb(174, 185, 188);
}

.home_img_book {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}