* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image: url(../Image/background/anh4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title h2 {
    text-align: center;
    margin-top: 2%;

}

.home {
    display: flex;
    margin-top: 5%;

}

.home_background img {
    width: 50%;
    height: auto;
    margin-right: 7%;
    float: right;
}

.home_book {
    width: 50%;
    height: auto;
    margin-right: 5%;
    z-index: 3;
}

.home_book div img {
    width: 25%;
    padding: 2%;
    box-shadow: 3px 3px 3px 3px rgb(174, 185, 188);
}

.home_img_book {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}