* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

#mainok {
    display: flex;
}

#mySidebar {
    box-shadow: 3px 3px 3px 3px rgb(174, 185, 188);
    background-image: url(../Image/sidebar.jpg);
    /* background-image: url(../Image/b1.jpg); */
    background-size: cover;
}

.close {
    float: right;
    width: 3vw;
    height: 5vh;
    margin-bottom: 8vh;
    border: none;
    cursor: pointer;
}

.menuok {
    position: absolute;
    left: 0;
    top: 10vh;
    display: inline-block;
    width: 5vw;
    height: 7vh;
    background: none;
    color: aliceblue;
    cursor: pointer;
    z-index: 10;

}


.menu a {
    width: 14vw;
    padding: 8px;
    text-decoration: none;
    color: orange;
    /* color: black; */
    /* background-color: rgb(52, 54, 54); */
    background-image: url(../Image/header.avif);
    /* background-image: url(../Image/ok1.png); */
    display: flex;
    justify-content: center;
    margin-top: 2%;
    border-radius: 10px;
}

.menu li {
    list-style-type: none;
    padding: 10px;
}

.content {
    width: 100%;
    height: 83vh;
}

.logout {
    position: absolute;
    bottom: 6vh;
}