* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.full_search {
    display: flex;
}

body {
    background-image: url(../Image/background/anh6.webp);
    background-size: cover;
}

.search {
    width: 40%;
    margin-top: 2%;
    z-index: 5;
}

.search h2 {
    text-align: center;
    margin-bottom: 2%;
}

.search a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    color: black;
    padding: 10px;
    width: 50%;
}

.display {
    width: 60%;
    margin-top: 2%;
    z-index: 5;
}

.display a {
    text-decoration: none;

}

.display a:hover {
    text-decoration: underline;
}

.display table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.display table {
    width: 90%;
}

.display h2 {
    text-align: center;
    margin-bottom: 2%;
}