.search {
    display: flex;
    justify-content: space-around;
    /* padding-top: 20%; */
    padding-top: 3%;
}

.search a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 30px;
    flex-basis: 15%;
    text-align: center;
    padding: 7px 0;
    color: black;
    background-color: rgb(185, 178, 201);
}

a:hover {
    background-color: rgb(128, 123, 156);
}