* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* #thong_bao {
    margin: 1% 0;
    text-align: center;
    font-size: 20px;
} */

#Sign_up {
    margin: 6% auto;
    border: 1px solid rgb(183, 177, 177);
    width: 75%;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
}

#Sign_up::before {
    content: "";
    background-image: url(../Image/hero-carousel/2.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
}

#form {
    width: 70%;
}

#btn {
    margin-left: 6vh;
    display: flex;
    justify-content: center;
}

#btn button {
    background-color: lightgrey;
}

#sidebar {
    width: 35%;
    background-image: url(../Image/hero-carousel/3.png);
    background-size: cover;
    position: relative;
    z-index: 10;
}



h2 {
    text-align: center;
    position: relative;
    z-index: 10;
}