* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.full {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 14vh;
}

.delete_user {
    width: 60%;
    margin-left: 2vh;
}

.delete_user h2 {
    text-align: center;
    margin: 3vh;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 1.8vh;
    text-align: center;
    margin: auto;
}

table {
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 4vh;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: #dfe6ea;
}

#btn {
    width: 5vw;
    height: 6vh;
    border-radius: 10px;
    border: 2px solid rgb(210, 222, 225);
    cursor: pointer;
}

#btn:focus {
    outline: none;
    border: 2px solid lightblue;
}

.book_views div {
    width: 40%;
    margin: 0 auto;
}

.book_views h2 {
    text-align: center;
    margin: 3vh;
}

.statistical {
    margin-bottom: 5vh;
    position: relative;
}

.statistical div {
    width: 100%;
}

.statistical div label {
    position: absolute;
    left: 5vh;
    z-index: 100000000;

}

h2 {
    text-align: center;
    margin: 5vh 0 3vh 0;
}

@media (max-width: 1100px) {
    .full {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .delete_user,
    .book_views {
        width: auto;
        margin: 0 auto;
        /* Hoặc giá trị phù hợp với yêu cầu của bạn */
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4BC0C0;
    opacity: 0.5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #4BC0C0;
    opacity: 0.5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}