* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h3 {
    text-align: center;
    margin-top: 1vh;
    color: #0c2e8a;
    font-size: 5vh;
}

h4 {
    text-align: center;
    color: black;
    font-size: 3vh;
}

.title {
    color: black;
}

#update {
    width: 65%;
    margin: 3vh auto;
    z-index: 10;
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    border: 1px solid rgb(181, 177, 177);
}

#form {
    width: 60%;
    margin: 0 auto;

}

#form div {
    width: 100%;
}

#form label {
    width: 30vh;
}

#btn {
    margin: 2vh 0;
}

#btn button {
    display: flex;
    margin: 0 auto;
    background-color: #dfe6ea;
}